<html ng-app="save_easy">
<head>
	<title>Save Easy</title>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" type="text/css" href="datepicker.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="angular_strap.js"></script>
	<script type="text/javascript" src="datepicker.js"></script>
	<script type="text/javascript" src="app.js"></script>
	
</head>
<body>
	<div style="padding-left:10px;" ng-controller="FormCtrl">
		<div class="row save_easy_form_data">
			<div class="col-lg-4">
				<h3>Save Easy</h3>
				<form role="form" ng-submit="submit()">
					Description: <input class="form-control" type="text" required ng-model="description" placeholder="Description" /><br />
					Date : <input class="form-control" type="text" ng-model="date" data-date-format="dd/mm/yyyy" bs-datepicker placeholder="Date" /><br />
					Amount : <input class="form-control" type="text" ng-model="amount" placeholder="Amount" /><br />
					Category : <input class="form-control" type="text" ng-model="category" placeholder="Category" /><br />
					<button type="submit" class="btn btn-block btn-danger">Submit</button>
				</form>
			</div>
			<div class="col-lg-4" style="margin-top:20px;">
				<div id="tab" ng-show="showstate">
					<input type="text" class="form-control" ng-model="search" placeholder="Search" /><br />
					<table class="table table-hover">
						<thead><td ng-click="predicate = 'description'; reverse=!reverse">Description</td><td ng-click="predicate = 'date'; reverse=!reverse">Date</td><td ng-click="predicate = 'amount'; reverse=!reverse">Amount</td><td ng-click="predicate = 'category'; reverse=!reverse">Category</td></thead>
						<tbody>
							<tr ng-repeat="task in tasks | filter:search | orderBy:predicate:reverse"><td>{{task.description}}</td><td>{{task.date | date:'mediumDate'}}</td><td>{{task.amount}}</td><td>{{task.category}}</td></tr>
						</tbody>
					</table>
					<button type="button" class="btn btn-primary" ng-click="clear_data()">Clear All Data</button>
				</div>
			</div>
		</div>
		<!-- <div class="row save_easy_settings">

		</div> -->
	</div>
</body>
</html>